<div class='game-board'>
  <div class='inner-game-board'>
    <div class="game-board-header">
      <span class='player-label'>{{playerType$ | async | playerTypeDescription}}:</span><span>{{playerName$ | async}}</span>
    </div>
    <div>
      <div class="game-board-body">
        <table>
          <ng-container *ngFor="let cellRow of (gameBoard$ | async).cells">
            <tr>
              <ng-container *ngFor="let cell of cellRow">
                <td
                [class.hit-cell]="cell === cellType.Hit"
                [class.miss-cell]="cell === cellType.Miss"
                [class.small-cell]="cellSize.Small === (cellSize$ | async)"
                [class.medium-cell]="cellSize.Medium === (cellSize$ | async)"
                [class.large-cell]="cellSize.Large === (cellSize$ | async)"
                ></td>
              </ng-container>
            </ng-container>
        </table>
        <app-user-preferences-panel></app-user-preferences-panel>
      </div>
    </div>
  </div>
</div>
