<div class="user-preference-panel">
  <ul>
    <li>
      Background<input type="checkbox" />
    </li>
    <li>
      <div class="cellSizeContainer">
        <div>
          <span>Cell Size</span>
          <div class="cellSizeSampleContainer">
            <div class="miss-cell"
              [class.small-cell]="cellSize.Small === (cellSize$ | async)"
              [class.medium-cell]="cellSize.Medium === (cellSize$ | async)"
              [class.large-cell]="cellSize.Large === (cellSize$ | async)">
            </div>
          </div>
        </div>
        <mat-slider vertical thumbLabel min="1" max="3" step="1" value="2" [displayWith]="getSliderThumbLabel" (change)="onCellSizeChanged($event)"></mat-slider>
      </div>
    </li>
    <li>
      Username <input type="text" />
    </li>
  </ul>
</div>
